:root {
  --navbar-height: 60px;
  --text-size: 16px;
  --icons-size: 18px;
}

@media screen and (min-width: 768px) {
  :root {
    --text-size: 18px;
    --icons-size: 20px;
  }
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;  
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;  
}

img{
  width: 100%
}
.navbar {
  background-color: white;
  height: var(--navbar-height);
  border-bottom: 1px solid #f0f0f0;
}

.navbar__logo {
  padding-left: 15px;
}

.navbar__container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
  text-decoration: none;
}

.navbar__logo-text {
  font-size: var(--text-size);
}

.navbar__logo-icon {
  font-size: var(--icons-size);
}

.navbar__list {
  display: flex;
  gap: 30px;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: #333;
}

/* Hasta */
@media screen and (max-width: 768px) {
  .navbar__nav {
    position: absolute;
    top: var(--navbar-height);
    width: 100%;
    left: 0;
    background-color: #fff;
    height: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease-in-out;
  }

  .navbar__list {
    flex-direction: column;
    opacity: 0;
    height: 0;
    transition: all .2s ease-in-out;
  }
}

.navbar__nav.active {
  padding: 20px 0;
  height: auto;
}

.navbar__nav.active .navbar__list {
  opacity: 1;
  height: auto;
}

.navbar__btn {
  padding-right: 15px;
}

.navbar__btn-link {
  background-color: white;
  border: none;
  outline: none;
  color: #333;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-image: url("https://media.istockphoto.com/photos/sax-picture-id148194998?k=20&m=148194998&s=612x612&w=0&h=gFSP2XKUZgIYDmvBcq-XpOaKCr7oJOqaV4KoLq7erIw=");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.about__container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about__content {
  width: 100%;
  background-color: #ff9c3ee8;
  padding: 8px;
  text-align: center;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid blueviolet; */
}

.wrapper__container {
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.wrapper__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.wrapper__about {
  display: flex;
}

.wrapper__about img {
  object-fit: cover;
}

.wrapper__sidebar {
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ff9b3e19;
}

.page-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid blueviolet; */
}

  /* Titles */
.title-section {
  font-size: 30px;
}

.title-regular {
  font-weight: 300;
  color: #333;
}
.title-underline {
  height: 3px;
  width: 70px;
  background-color: #ff5800;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #314652;
  color: #ff9c3ee8;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

  /* footer */

.footer {
  background-color: #ff9c3ee8;
  padding: 20px;
  text-align: center;
}

/* Desde */

@media screen and (min-width: 500px) {
  .about__content {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper__container {
    width: 70%;
  }

  .wrapper__sidebar {
    width: 30%;
  }

  .navbar__btn-link {
    visibility: hidden;
  }

  .about__content {
    width: 35%;
  }
}